rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /User/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /CategoryExpense/{categoryId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /CategoryIncome/{categoryId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /Expense/{expenseId} {
      allow read, write: if request.auth != null &&
        request.auth.uid == resource.data.idUser;
      allow create: if request.auth != null &&
        request.auth.uid == request.resource.data.idUser;
    }

    match /Income/{incomeId} {
      allow read, write: if request.auth != null &&
        request.auth.uid == resource.data.idUser;
      allow create: if request.auth != null &&
        request.auth.uid == request.resource.data.idUser;
    }

    match /Loan/{loanId} {
      allow read, write: if request.auth != null &&
        request.auth.uid == resource.data.idUser;
      allow create: if request.auth != null &&
        request.auth.uid == request.resource.data.idUser;
    }

    match /LoanPayment/{paymentId} {
      allow read, write: if request.auth != null &&
        request.auth.uid == resource.data.idUser;
      allow create: if request.auth != null &&
        request.auth.uid == request.resource.data.idUser;
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /budgets/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /transactions/{userId}/records/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /categories/{categoryId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}